<div class="wrapper-homepage">
  <div class="container-homepage">
    <div class="banner">
      <div class="banner-content">
        <h1>Spiral Dynamics Quizz</h1>
        <p>Personal development assessment tool</p>
        <%= link_to "I'm ready!", quizz_path, class: "btn btn-primary startnow-btn" %>
      </div>
    </div>
  </div>
</div>


