<div class="wrapper-homepage">
  <div class="container-homepage">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(100,100,100,0.6) 20%, rgba(220,220,220,0.6) 100%), url('http://www.miriamblum.com/wp-content/uploads/2014/09/personal-development-header.jpg');">
      <div class="banner-content">
        <h1>Spiral Dynamics Quizz</h1>
        <p>Personal development assessment tool</p>
        <%= link_to "Start now", quizz_path, class: "btn btn-primary startnow-btn" %>
      </div>
    </div>
  </div>
</div>
