<div class="wrapper-prequizz">
  <div class="container-prequizz">
    <h1 class="prequizz-title">
      Pre-assessment instructions
    </h1>

    <h2 class="prequizz-subtitle">
      What is Spiral Dynamics
    </h2>
    <ul class="prequizz-guidelines">
      <li class="prequizz-instruction"><strong>Spiral Dynamics is a very powerful but complex model</strong> and it can take many years before you can fully understand the depth of its insights. However, <strong>this can be your first step into something big</strong></li>
      <li class="prequizz-instruction">The theory indicates that <strong>there is a certain directionality in how the human psyche evolves and what is the usual line of development between one mode of thinking to the other</strong></li>
      <li class="prequizz-instruction">Think about this: <strong>There has been over 70 billion humans born in this planet</strong>. Over centuries, the way they saw the world and thought about things changed, <strong>and it changed in a predictable pattern. This pattern happens to repeat from one country to another and from one stage of life to the next</strong>. It applies to individuals, countries, business, families, group of friends and many other structures</li>
      <li class="prequizz-instruction">The evolution of the psyche could be divided in many ways. However, the names behind this theory decided to <strong>divide the evolution into different stages, with each stage being represented by a color</strong></li>
      <li class="prequizz-instruction">If you understand each stage, and specially your stage, <strong> with both its strengths and weaknesses</strong>, you will be able to understand what are the common pitfalls of each stage and <strong>you will be more likely to develop your consciousness further with more awareness and less resistance</strong>. <strong>This is why Spiral Dynamics is seen as a huge personal development tool</strong></li>
    </ul>

    <h2 class="prequizz-subtitle">
      The quizz
    </h2>
    <ul class="prequizz-guidelines">
      <li class="prequizz-instruction">The quizz is composed of <strong>23 questions</strong> and will take you approximately <strong>10 minutes</strong> to complete</li>
      <li class="prequizz-instruction">At the end of the 23 questions, you will receive your result. <strong>The result shows the percentage of resonance you have with each of the stages on the model</strong>.</li>
      <li class="prequizz-instruction"><strong>A negative resonance means you have moved past a stage and seen it's limitations, or it means that that stage is ahead of you and you still have resistance towards its ideas.</strong> Remember, each stage of the spiral rejects the ones below or above it</li>
      <li class="prequizz-instruction">A <strong>small positive resonance (< 40%) means you are leaving or entering that stage</strong></li>
      <li class="prequizz-instruction">A <strong>big positive resonance (> 40%) indicates most of your mode of thinking belongs to that stage</strong></li>
      <li class="prequizz-instruction">Remember: a stage that is above yours is not necessarily better than yours, nor is yours better than the previous. <strong>The model is not aimed at placing people at categories and then judging them as better or worse</strong>. It simply states that there are different modes of thinking that have a certain directionality to it, and understanding your mode of thinking is key to understand what lies ahead. <strong>Being open-minded enough to see the possible limitations of your mode of thinking and to contemplate about the possibilities of the next will not only make you more prone to development, but it might save many disappointments in the future</strong></li>
    </ul>

    <h2 class="prequizz-subtitle">
      Disclaimers
    </h2>
    <ul class="prequizz-guidelines">
      <li class="prequizz-instruction">Only the four stages in which the vast majority of modern human beings resonate with are contemplated in the test. However, if you are taking this quizz, <strong>you will certainly fall into one of these stages</strong></li>
      <li class="prequizz-instruction"><strong>This is not a professional assessment</strong>. You should not take the results completely for granted, but surely <strong>the quizz is capable of accurately assessing your stage of development and give you powerful insights about how to go further</strong></li>
      <li class="prequizz-instruction">If you already started or finished the quizz, clicking on the proceed button will resume where you left. If this is the first time, the quizz will start right away</li>
    </ul>
  </div>

  <%= link_to "Start now", quizz_path, class: "btn btn-primary startnow-btn-prequizz" %>
</div>
